h2 {
    color: darkgreen;
    text-align: center;
    border-bottom: 5px solid darkblue;
}

h3 {
   color: darkgreen;
   text-align: center;
}


.body-content {
    background-color: palegreen;
}

body {
    background-color: darkblue;
}

.area51{
    margin: 0 auto;
    padding-left: 50%;
}

